{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>
<br>
<div class="table-responsive">
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th class="border border-dark" scope="col">#</th>
                <th class="border border-dark" scope="col">Content of the note</th>
                <th class="border border-dark" scope="col">Date of modification</th>
                <th class="border border-dark" scope="col"></th>
                <th class="border border-dark" scope="col"></th>
            </tr>
        </thead>
        <thody>
            {% for note in user.notes %}
            <tr class="table-secondary">
                <th class="border border-dark" scope="row">{{note.id}}</th>
                <td class="border border-dark">{{ note.content }}</td>
                <td class="border border-dark">{{ note.date }}</td>
                <td class="border border-dark text-center">
                    <button type="button" class="btn btn-outline-success" href="/edit-note">
                    <span aria-hidden="true">EDIT</span></button></td>
                <td class="border border-dark">
                    <button type="button" class="close text-danger" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true" class="text-center">&times;</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </thody>
    </table>
</div>

<form method="POST">
    <textarea name="note" class="form-control" id="note"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add note</button>
    </div>
</form>
{% endblock %}