{% extends 'base.html' %}
{% block title %}User list{% endblock %}

{% block content %}
<h1 align="center">User list</h1>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th></th>
        </tr>
    </thead>
    <thody>
        <tr>
    {% if users %}
        {% for user in users %}
                <th scopre="row">{{user.id}}</th>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                {% if user.country %}
                    <td>{{user.country}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if user.city %}
                    <td>{{user.city}}</td>
                {% else %}
                    <td class="col"></td>
                {% endif %}
                <td><button type="button" class="close" onClick="deleteUser({{ user.id }})">
                <span aria-hidden="true">&times;</span>
                </button>
                </td>
        </div>
        </tr>
    </thody>
        {% endfor %}
    {% endif %}
</ul>
</table>
{% endblock %}