{% extends 'base.html' %}
{% block title %}User list{% endblock %}

{% block content %}
<h1 align="center">User list</h1>
<ul class="list-group list-group-flush" id="notes">
    <div class="container">
        <div class="row">
            <div class="col">User ID</div>
            <div class="col">Email</div>
            <div class="col">Name</div>
            <div class="col">Country</div>
            <div class="col">City</div>
        </div>
    </div>
    <br>
    {% if users %}
        {% for user in users %}
        <div class="container">
            <div class="row">
                <div class="col">{{user.id}}</div>
                <div class="col">{{user.email}}</div>
                <div class="col">{{user.name}}</div>
                {% if user.country %}
                    <div class="col">{{user.country}}</div>
                {% else %}
                    <div class="col"></div>
                {% endif %}
                {% if user.city %}
                    <div class="col">{{user.city}}</div>
                {% else %}
                    <div class="col"></div>
                {% endif %}
                <button type="button" class="close" onClick="deleteUser({{ user.id }})">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        {% endfor %}
    {% endif %}
</ul>
{% endblock %}